/*
COLORS:

Light blue: #85C4FD
Medium blue: #0E458C
Dark green: #FDE84D

*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "IBM Plex Sans";
    font-weight: 400;
    font-size: 16px;
    line-height: 1.7;
    color: rgb(99, 99, 99);
    padding: 30px;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
         #85c3fd5d, #0E458C), 
         url(/css/img/charSoapCloseUpHD.png);
    background-size: cover;
    background-position: top;
    position: relative;


    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );
}

.logo-box {
    position: absolute;
    top: 40px;
    left: 40px;
}

.logo {
    height: 50px;
}

.text-box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary {
    color: aliceblue;
    text-transform: uppercase;
    text-shadow: 5px 5px 10px rgba(17, 11, 44, 0.788);

    backface-visibility: hidden;
    margin-bottom: 60px;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    font-weight: 700;
    letter-spacing: 20px;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}

.heading-primary-sub {
    display: block;
    font-size: 30px;
    font-weight: 600;
    letter-spacing: 12px;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;

}


@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px);
    }

    90% {
        transform: translateX(10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px);
    }

    90% {
        transform: translateX(-10px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    90% {
        transform: translatey(10px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}
.btn:link,
.btn:visited {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;

}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.425);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.459);

}

.btn-white {
    background-color: aliceblue;
    color: rgb(99, 99, 99);

}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: aliceblue;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom .5s ease-out .75s;
    animation-fill-mode: backwards;
}