
//colors
$color-primary: #0e458c;
$color-primary-light: #5da3e6;
$color-primary-dark: #0c3257;
$color-primary-honey:#fff28f38;
$color-primary-honey-solid:#81d100;


$color-gray-light-1: #f7f7f7;
$color-gray-mid-1: #e6e6e6;


$color-gray-dark:#777;
$color-white:#fcfdff;
$color-black: #000;

$shadow-dark: rgb(22, 22, 22);
$shadow-light: rgb(88, 88, 88);


//grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 2rem;

//font
$default-font-size: 1.6rem;