@import "base/animations";
@import "base/base";
@import "base/typography";
@import "base/utilities";
// @import "base/base";



$color-primary: #0e458c;
$color-primary-light: #85C4FD;
$color-primary-dark: #0c3257;
$color-primary-honey:#fff28f38;

$color-gray-dark:#777;
$color-white:#fcfdff;

$shadow-dark: #0b0b2bbb;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    font-family: "IBM Plex Sans";
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.7;
    color:$color-gray-dark;
    padding: 2rem;
    box-sizing: border-box;
}

.header {
    height: 95vh;
    background-image: linear-gradient(
        to right bottom,
       $color-primary-honey,
        $color-primary), 
        url(../css/img/charSoapCloseUpHD.png);
    background-size: cover;
    background-position: top;
    position: relative;


    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );

    &__logo-box{
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo-box {
        position: absolute;
        top: 4rem;
        left: 4rem;
    }
    
    &__logo {
        height: 5rem;
    }
    
    &__text--box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

.heading-primary {
    color: $color-white ;
    text-transform: uppercase;
    text-shadow: .5rem .8rem 1rem ($shadow-dark);

    backface-visibility: hidden;
    margin-bottom: 6rem;

    &--main {
        display: block;
        font-size: 6rem;
        font-weight: 700;
        letter-spacing: 2rem;
    
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    }
    
    &--sub {
        display: block;
        font-size: 3rem;
        font-weight: 600;
        letter-spacing: 1.2rem;
    
        animation-name: moveInRight;
        animation-duration: 1s;
        animation-timing-function: ease-out;
    
    }
}

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }

    90% {
        transform: translateX(1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }

    90% {
        transform: translateX(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);

    }
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(3rem);
    }

    90% {
        transform: translateY(-1rem);
    }

    100% {
        opacity: 1;
        transform: translateY(0);

    }
}

.btn {
    &,
    &:link,
    &:visited {
    font-size: 1.25rem;
    text-transform: uppercase;
    text-decoration: none;
    padding: 1.5rem 4rem;
    display: inline-block;
    border-radius: 10rem;
    transition: all .2s;
    position: relative;
    }
    &:hover {
        transform: translateY(-.3rem);
        box-shadow: 0 1rem 3rem ($shadow-dark);

        &::after {
            transform: scaleX(1.4) scaleY(1.6);
            opacity: 0;
        }
    }
    
    &:active {
        transform: translateY(-.1rem);
        box-shadow: 0 1rem 1rem ($shadow-dark);
    
    }
    
    &--white {
        background-color: $color-white;
        color:$color-gray-dark;

        &::after {
            background-color: $color-white;
        }
    
    }
    
    &::after {
        content: "";
        display: inline-block;
        height: 100%;
        width: 100%;
        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all .4s;
    }
    
    &--animated {
        animation: moveInBottom .5s ease-out .75s;
        animation-fill-mode: backwards;
    }
  
}


